{% extends 'base.html.twig' %}

{% block body %}

    <div class="container1">

        <br/>
        <h1 id="ce"> Je recherche mon bien </h1>
          <br/><br/>

         <div class="encartb3">

            <a class="lien3" href="{{path('reussite2')}}">Je réussis mon achat dans le neuf</a>
            <a class="lien3" href="{{path('invest2')}}">Je réussis mon investissement dans le neuf</a>
            <a class="lien3" href="{{path('guide')}}">Loi Pinel : le guide pour tout comprendre</a>
            <a class="lien3" href="{{path('etape')}}">Je maîtrise les étapes de l'achat sur plan</a>
            <a class="lien3" href="{{path('plan')}}">Comment lire le plan de votre futur appartement ?</a>
         
         </div>

    </div>

{% endblock %}