{% extends 'base.html.twig' %}

{% block body%}

    <article>
        <h2>{{ article.Titre }}</h2>
        <div class="metadata">Ecrit le {{article.CreatedAt| date('d/m/Y')}} à {{article.CreatedAt|date('H:i')}}</div>
        <div class="content">
            <img src="{{article.Image}}" alt="photo">
            {{article.Contenu |raw}}
        </div>
    </article>

{% endblock%}